<html data-ng-app="">
    <head>
        <title>MV01 AngularJS Lab</title>
    </head>

    <body>

            <div data-ng-controller="SimpleController">  
                Name: 
                <br/>                    
                <input type="text" data-ng-model="name"/> {{name}}
                <h3>looping using AngularJS directives...</h3>
                <ul>
                    <li data-ng-repeat="customer in customers | filter:name | orderBy:'city'">{{customer.name}} - {{customer.city}}</li>
                </ul>
            </div>

            <script>
                function SimpleController($scope){
                    $scope.customers = [
                        {name:'Mark', city:'North Aurora'},
                        {name:'Michael',city:'Prior Lake'},
                        {name:'Peter',city:'Moorhead'},
                        {name:'Kathy',city:'Stillwater'},
                        {name:'Charles',city:'Detroit Lakes'},
                        {name:'Nancy',city:'Detroit Lakes'},
                        {name:'Kiran',city:'Aurora'},
                        {name:'Vern',city:'Aurora'}
                        ];
                }
            </script>

            <script src="angular.min.js">
            </script>            

    </body>
    
</html>